/* General Arangements */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-image: url(simon-fitall-tvleqH3p1os-unsplash.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu a{
    text-decoration: none;
    color: white
}

.menu a:link{
    text-decoration: none;
    color: white
}

/* ------------------- */


/* FOR NORMAL SCREENS */
.menu{
    display:flex;
    flex-direction: row;
    position: sticky;
    top:0;
    width: 100%;
    height: 3.2em;
    margin-bottom: 1em;
    background-color: rgb(24, 136, 193);
    color: white;
    box-sizing: border-box;
    padding: 0 1.5em;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 1px 8px rgb(66, 66, 66);

    transition: background-color 0.5s;
}

.menuScrolled{
    background-color: rgba(24, 137, 193, 0.35);
    text-shadow: 1px 1px 1px grey;
}

/* Scroll JS effect not to work in small screen */
@media(max-width: 801px){
    .menuScrolled{
        background-color: rgb(24, 136, 193);
        text-shadow: none;
    }
}


.menu:hover{
    background-color: rgb(24, 136, 193);
    text-shadow: none;
}

.menuItem{
    display: flex;
    box-sizing: border-box;
    padding: 0 1em;
    height: 100%;
    width: auto;
    align-items: center;

    transition: background-color 0.5s;
}

.menuItem:hover{
    background-color: rgb(58, 149, 194);
}


/* Generaly drop-down submenu display is none until we do something
but for bigger screens we want a transition to be aaplied */

/* make hover effect for submenu appear only on bigger screens */
@media(min-width: 801px){
.submenuContainer{
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 0.4em 0.4em;
    list-style-type: none;
    position: absolute;
    top: 3.2em;
    background-color:  rgb(58, 149, 194);
    box-sizing: content-box;
    box-shadow: 0px 2px 8px rgb(66, 66, 66);
    border-radius: 0 0 0.5em 0.5em;

    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transition: opacity 900ms;
}



    .forSubmenuParent:hover .submenuContainer{
        display:flex;
        flex-direction: column;
        justify-content: stretch;
        padding: 0.4em 0.4em;
        list-style-type: none;
        position: absolute;
        top: 3.2em;
        background-color:  rgb(58, 149, 194);
        box-sizing: content-box;
        box-shadow: 0px 2px 8px rgb(66, 66, 66);
        border-radius: 0 0 0.5em 0.5em;

        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
    }
}


.submenuItem{
    padding: 0.3em 0.3em;
    margin: 0 0.3em;
    border-radius: 0.5em;

    transition: background-color 0.5s;
}

.submenuItem:hover{
    background-color: rgb(33, 84, 110);
    box-shadow: 2px 2px 8px rgb(66, 66, 66);
    border-radius: 0.5em;
}

.logo{
    margin-right: auto;
    margin-left: 0;
}

/* FOR SMALLER DIVICES */
@media (max-width:800px){
    .menu{
        display:flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: flex-start;
        padding: 0.5em 0;
        color: white
    }

  
    .menuItem{
        display: none;
    }

    
    .forSmallScreenMenuIcon::after{
        font-family: "Font Awesome 5 Free";
        content: "\f0c9";
        display: inline-block;
        padding: 0 0.4em;
        font-size: 1.5em;
        font-weight: 600;
        
    }

    .forSmallScreenMenuIconOpen::after{
        font-family: "Font Awesome 5 Free";
        content: "\f00d";
        display: inline-block;
        padding: 0 0.4em;        
        font-size: 1.5em;
        font-weight: 600;
    }

    .addAnimationIcons{
        animation: manuIconChangeAnime 500ms
    }

    .menuItemAppear{
        display:flex;
        flex-direction: column;
        width: 100%;
        padding: 0.2em 1em;
        align-items: flex-start;
    }

    .forSubMenuIcon::after{
        font-family: "Font Awesome 5 Free";
        content: "\f0dd";
        display: inline-block;
        padding: 0 0.4em;        
        font-size: 1em;
        font-weight: 900;
    }
    
    .submenuContainer{
        display:none;
    }
    
       .subMenuContainerAppear{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative;
        top: 100%;
        left: 0;
       }

    .submenuItem a{
        width: 100%;
        height: auto;
        padding: 0.2em 1em;
    }
    
}



/* MAIN BODY ITEMS */

.mainBody{
    display: flex;
    flex-direction: row;
    margin: 0em 2.5em;
    height: 140vh;
    width: auto;
    align-content: center;
    justify-content: center;

}

.element1{
    margin-top: 20vh;
    color: white;
    text-shadow: 0 0 8px grey;
    text-shadow: 0 0 12px rgb(83, 82, 82);
    text-align: center;
}


/* ------------------------------- */
/* Animation for menu icon change */
@keyframes manuIconChangeAnime {
    0% {
         opacity: 0;
         transform: scaleX(0)
    }

    30% {
         opacity: 1;
         transform: scaleX(1.3)
    }
    40% {
        opacity: 1;
        transform: scaleX(0.7)
   }
   50% {
    opacity: 1;
    transform: scaleX(1.2)
    }
    60% {
        opacity: 1;
        transform: scaleX(0.8)
    }
    70% {
        opacity: 1;
        transform: scaleX(1.1)
    }
    80% {
        opacity: 1;
        transform: scaleX(0.9)
    }
    90% {
        opacity: 1;
        transform: scaleX(1.05)
    }
    100% {
        opacity: 1;
        transform: scaleX(1.0)
    }
}